@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "poppins", sans-serif;
}

body{

    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px;
    background: linear-gradient(to left top,#cdf560,#c6e858);
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    position: relative;
    background-color: rgb(114, 249, 81);
}


.wrapper .carousel{
    display: grid;
    grid-auto-flow:row;
    grid-auto-columns: calc((100% / 3) -12px);
    gap: 18px;
    overflow: hidden;
    background-color: rgb(#d0f261);
}


.carousel .card{
    height: 400px;
    list-style: none;
    background: #edf5b0;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.card .img {
    background: #def230;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #a3ed55;
}

.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    
}


.card span{
    color: #6a6d78;
    font-size: 1.31rem;
}

.card a{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

@media screen and (max-width:900px)
{
    .wrapper .carousel{
        grid-auto-columns: calc((100% / 3) -9px);

    }
    
}

@media screen and (max-width:900px)
{
    .wrapper .carousel{
        grid-auto-columns:100%;
        
    }
    
}

.img:hover{
    transform: scale(1.3);
    z-index:2
}

.img{
    transition: 1s;
}

h4{
    text-align: center;
}

h1{
    background-color: yellow;
    border-radius: 20px;


  
}